.newBlogForm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    left: -15%;
}
.newBlogForm label {
    display: block;
    margin: 10px 0px;
    font-weight: bold;
}
.newBlogForm input[type="text"], textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.newBlogForm button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0077cc;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}